@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* height: 100%; */
}

body {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

ol,
ul {
  list-style: none;
}

button {
  outline: none;
}

.sticky-header {
  position: sticky;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.sticky-header h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
}

.error-message {
  font-family: 'Rubik', sans-serif;
  @apply text-gray-600 p-2 rounded bg-gray-200 shadow-md;
}

.news-details {
  font-family: 'Rubik', sans-serif;
}
